.page-wrapper {
    position: relative;
    @include transition (all 0.3s);
}

.main-content {
    padding: 4% 0;
    @include breakpoint(desktop) {
        padding: 5% 0;
    }
    @include breakpoint(tablet) {
        padding: 6% 0;
    }
    @include breakpoint(mobile) {
        padding: 7% 0;
    }
    @include breakpoint(smallmobile) {
        padding: 8% 0;
    }
}

.white-bg {
    background-color: $color__white;
}

.page-content {
    width: 100%;
    margin: 0;
}

.page-container {
    max-width: $size__max-width;
    margin-left: auto;
    margin-right: auto;
    width: 90.5%;
    position: relative;
    box-sizing: border-box;
}

.small-width {
    max-width: $size__small-width;
    width: 90.5%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.medium-width {
    max-width: $size__medium-width;
    width: 90.5%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    figure.wp-block-video video {
        max-width: $size__medium-width;
        height: auto;
    }
}

.large-width {
    max-width: $size__large-width;
    width: 90.5%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.module {
    margin-top: 100px;
    &:first-child {
        margin-top: 0;
    }
    h3,
    h4 {
        text-align: left;
    }
    h3 {
        @include font-size(2.4);
        margin-bottom: 20px;
    }
    h4 {
        margin-bottom: 10px;
        text-transform: none;
    }
    h4.sub-title {
        text-align: left;
        @include font-size(1.6);
        margin-bottom: 10px;
        font-weight: $font__weight-extra-bold;
        letter-spacing: 0;
        text-transform: uppercase;
    }
    h2.title {
        @include font-size(4.2);
        margin-bottom: 50px;
        font-weight: $font__weight-extra-bold;
        letter-spacing: -0.04em;
        color: $color__gray-800;
    }
    &.sub-module h2.title {
        @include font-size(3.0);
        text-transform: uppercase;
        color: $color__gray-900;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    &.has-bg-color {
        padding: 60px;
    }
    &.drop_shadow img {
        box-shadow: 0 2px 10px 0 rgba($color__black, 0.30) !important;
    }
    &.rounded_corners img,
    &.rounded_corners .video {
        @include border-radius(10px);
    }
    .video {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        video {
            width: 100%;
        }
    }
    .image {
        margin-top: 100px;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        img {
            width: 100%;
            margin: 0 auto;
            display: block;
        }
        &.framed img {
            @include box-shadow(0px, 2px, 6px, 0px, rgba(0, 0, 0, 0.11));
            border: 1px solid #CCC;
            @include border-radius(5px);
        }
    }
    .image.animated-gif img {
        max-height: 600px;
        width: auto;
    }
    .full-width-image {
        width: 100%;
        overflow: hidden;
        .image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
            width: 100%;
            max-width: 100%;
            margin: 0;
        }
    }
    .slider {
        .metaslider .caption-wrap {
            position: relative;
            bottom: 0 !important;
        }
    }
    .caption-wrap {
        position: relative;
        bottom: 0;
        left: 0;
        opacity: 0.7;
        margin: 0;
        display: block;
        width: 100%;
        line-height: 1.4em;
        background: none;
        text-align: center;
        margin: 0 0 10px 0;
        font-weight: $font__weight-bold;
        color: $color__gray-700;
        font-style: inherit;
        @include font-size(1.4);
        .caption {
            padding: 5px 10px;
            word-wrap: break-word;
            display: inline-block;
            // border-bottom: 1px solid $color__gray_-400;
            &:after {
                content: '';
                display: block;
                position: relative;
                height: 1px;
                background-color: $color__light-gray;
                width: 75%;
                margin: 7px auto;
            }
        }
    }
}

.content-sep {
    border-bottom: 1px solid $color__background-hr;
}