// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.page-header {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	@include transition(all 0.2s);
	.page-container {
		@include flexbox;
		align-items: center;
		justify-content: space-between;
	}
}
.custom-code {
	height: 100%;
}