.single-works .main-nav ul li:first-child a {
    color: $color__accent;
    &:before {
        border-top: 4px solid $color__accent;
    }
}

.page-template-work {
    .hero .overlay {
        @include opacity(.8);
    }
    .dribbble-shots {
        display: inherit;
    }
}

.single-works .main-content {
    padding: 2% 0 8%;
}

.single-works .hero {
    height: 100%;
    .hero-content {
        padding-top: 4%;
    }
    img {
        position: relative;
        z-index: 999;
        display: block;
        width: 100%;
        @include fadeInUp( $duration: 1.2s, $delay: .25s);
    }
    .overlay {
        @include opacity(0.7);
    }
}

.single-works .navigation.post-navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.single-works .nav-links {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 60%;
    height: auto;
    display: block;
    @include font-size(1.4);
    .nav-previous,
    .nav-next {
        width: initial;

        &:hover a,
        &:hover a:before {
            color: $color__accent;
        }
    }
    .nav-previous {
        margin-left: 30px;
    }
    .nav-next {
        margin-right: 30px;
    }
    .nav-previous a,
    .nav-next a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        bottom: 0;
        text-decoration: none;
        @include font-size(1.2);
        color: rgba($color__off-white, .2);
        @include fade;
    }
    .nav-previous a:before,
    .nav-next a:before {
        position: absolute;
        top: -65px;
        left: 35%;
        text-align: center;
        vertical-align: middle;
        font-family: 'FontAwesome';
        content: '\f104';
        @include font-size(5.0);
        color: rgba($color__accent, .2);
        @include fade;
    }
    .nav-next a:before {
        content: '\f105';
    }
}

.single-works .metadata {
    background: #333;
    padding: 25px 0 35px;
    text-align: center;
    position: relative;
}

.work-title {
    color: $color__white;
    @include font-size(4.0);
    margin-bottom: 15px;
    font-weight: $font__weight-bold;
    letter-spacing: -0.04em;
    line-height: 1;
}

.work-subtitle {
    text-transform: capitalize;
    margin: 0 0 10px 0;
    color: $color__light-gray;
    font-weight: $font__weight-regular;
    @include font-size(1.8);
}

.col.col-100.work-item-wrapper {
    background-color: $color__white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    @include transition(all 0.2s ease-in-out);
    overflow: hidden;
    min-height: 290px;
    text-align: left;
    margin-bottom: 50px;
    border: 1px solid $color__off-white;
    a { 
        @include flexbox();
        flex-wrap: wrap;
        @include flex-direction(row);
        text-decoration: none;
        color: inherit;
        &:hover,
        &:focus {
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
            .overlay {
                @include opacity(.7);
            }
            .work-img-wrap img {
                @include transform(scale(1.04));
            }
        }
        @include breakpoint(tablet){
            display: inline-flex;
            width: -webkit-fill-available;
            @include flex-direction(column);
       }
    }
    &.is-password-protected {
        .btn {
            padding-left: 35px;
            &:before {
                font-family: 'FontAwesome';
                content: '\f023';
                @include font-size(2.2);
                color: $color__gray-700;
                position: absolute;
                top: 6px;
                left: 0;
                margin-left: 10px;
            }
        }
    }
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0 0 60px 0;
    }
    .overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flexbox();
        text-align: center;
        align-items: center;
        background: rgba($color__black, .7);
        @include opacity(0);
        @include transition(all 0.3s ease-in-out);
    }
    .work-img-wrap {
        @include flex(1); 
        display: inline-flex;
        width: -webkit-fill-available;
        align-items: center;
        max-height: 400px;
        overflow: hidden;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        img {
            border-bottom: 0;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            @include transition(all 0.3s ease-in-out);
            @include transform(scale(1));
            overflow: hidden;
        }

    }
    .metadata {
        @include flex(2); 
        @include flex-direction(column);
        padding: 30px;
        text-align: left;
        @include transition(all 0.2s ease-in-out);
        position: relative;
        z-index: 2;
        background-color: $color__white;
        .work-title {
            @include font-size(2.2);
            letter-spacing: 0;
            margin-bottom: 12px;
            color: $color__dark-gray;
            @include transition(all 0.2s);
        }
        .work-subtitle {
            @include font-size(1.6);
            color: $color__med-gray;
            line-height: 1;
            margin-bottom: 30px;
        }
        .btn {
            text-align: center;
            min-width: 50%;
            @include font-size(1.6);
            @include transition(all 0.3s ease-in-out);
            border: 1px solid $color__accent;
            color: $color__off-white;
            background-color: $color__button-bg-hover;
            &:hover,
            &:focus {
                background-color: rgba($color__accent, .8);
                color: $color__off-white;
            }
        }
        .work-details-wrap {
            padding: 0;
            ul {
                @include breakpoint(tablet) {
                    @include flex-direction(row);
                    li p{
                        margin:0 15px 15px 0;
                    }
               }
            }
            p {
                margin: 0;
            }
       }
        @include breakpoint(tablet){
            display: inline-flex;
            width: -webkit-fill-available;
       }
    }
}

#work-disclaimer-wrap {
    padding: 30px 20%;
    background-color: $color__white;
    span {
        @include font-size(1.0);
        margin: 0;
        display: inline-block;
        font-weight: $font__weight-semi-bold;
        text-transform: uppercase;
        margin-right: 7px;
    }
    p {
        @include font-size(1.2);
        line-height: 20px;
        margin: 0;
        padding: 0;
        letter-spacing: 0;
    }
}
.work-details-wrap {
    background-color: $color__white;
    padding: 30px 20%;
    ul {
        list-style: none;
        @include flexbox();
        margin-left: 0;
        li {
            display: inline-flex;
            width: -webkit-fill-available;
            border-right: 1px solid $color__border;
            margin-right: 40px;
            &:last-child
            { 
                border:none;
            }
        }
        p {
            @include font-size(1.6);
            line-height: 1.7;
        }
        span{
            display: flex;
            @include font-size(1.2);
            font-weight: $font__weight-bold;
            color: color__light-gray;
            line-height: 16px;
        }
        @include breakpoint(tablet) {
            @include flex-direction(column);
            margin-bottom: 15px;
            li {
                border: none;
                margin-right: 0;
                p{
                    margin-bottom:15px;
                }
            }
       }
    }
    .work-details-overview {
        background-color: $color__background;
        color: $color__gray-000;
        @include font-size(1.6);
        padding: 2.5%;
        p {
            margin: 0;    
        }

    }
}
#work-footer {
    background-color: $color__gray-700;
    align-items: inherit;
    color: $color__gray_-400;
    h3 {
        margin-bottom: 20px;
        color: $color__gray_-300;
    }
    p {}
    .box-item-50 {
        padding: 10rem 5rem;
        &:first-child {
            border-right: 1px solid $color__gray-400;
        }
    }
    .credits {
        p {
            margin-bottom: 0;
            text-align: center;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li {
                @include font-size(1.6);
                margin: 0;
                padding: 0 10px 0 0;
                display: inline-block;
            }
        }
    }
}

/* view more button for the bottom of the page */
.page-template-work .view-more {
    .col {
        display: block;
        margin: 0;
        text-align: center;
    }
}