.richtext p,
.richtext ul,
.richtext ol,
.richtext blockquote {
  @include font-size(1.8);
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 40px 0;
  letter-spacing: -0.02em;
}
.richtext a {
  color: $color__link;
  text-decoration: none;
  @include fade;
  @include on-event {
    outline: 0;
    color: $color__link-hover;
    @include fade;
    text-decoration: underline; 
  }
}
.main-content .richtext a {
  position: relative;
  font-weight: $font__weight-semi-bold;
  display: inline;
  padding-bottom: 3px;
  color: $color__link;
  text-decoration: none;
  @include fade;
  @include on-event {
    outline: 0;
    color: $color__link-hover;
    @include fade;
  }
}
.main-content .richtext a:after {
  content: "";
  position: absolute;
  bottom: -.2em;
  left: 0;
  width: 100%;
  border-bottom: solid 2px $color__link-hover;
  @include opacity(0);
  @include transform(translateY(-0.25em));
  @include transition(transform .3s ease, opacity .3s ease);
}
.main-content .richtext a:hover:after{
  @include opacity(1);
  @include transform(translateY(0));
}
.richtext h1,
.richtext h2,
.richtext h3,
.richtext h4,
.richtext h5,
.richtext h6 {
  margin-bottom: 20px;
  letter-spacing: -0.04em;
  @include font-size(3.0);
  line-height: 42px;
  margin-bottom: 20px;
  @include breakpoint(mobile) {
    text-align: left !important;
  }
}
.richtext h3 {
  font-weight: $font__weight-bold;
  @include font-size(3.0);
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: -0.05rem;
}
.richtext h4 {
  text-align: center;
  margin-bottom: 40px;
  @include font-size(1.8);
  font-weight: $font__weight-bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.richtext h5 {
  color: $color__accent;
  font-weight: $font__weight-semi-bold;
  margin: 30px 0 5px;
  @include font-size(2.0);
}
.richtext h6 {
  font-weight: $font__weight-bold;
  margin: 0;
  @include font-size(1.4);
}
.richtext h1:first-child,
.richtext h2:first-child,
.richtext h3:first-child,
.richtext h4:first-child,
.richtext h5:first-child,
.richtext h6:first-child {
  margin-top: 0;
}
.richtext ul {
  list-style: disc;
  margin-bottom: 40px;
  margin-left: 20px;
}
.richtext ul li,
.richtext ol li {
  margin-bottom: 5px;
}
.richtext li {
  counter-increment: item;
  margin-bottom: 5px;
}
.richtext blockquote {
  padding-left: 40px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 40px;
  margin-left: -40px;
  &:before {
    content: "";
    height: 100%;
    width: 6px;
    background: $color__accent;
    display: block;
    position: absolute;
    left: 0;
  }
  p {
    color: #262626;
    font-weight: $font__weight-bold;
    line-height: 30px;
  }

}
.richtext blockquote ~ .author em {
    display: block;
    @include font-size(1.4);
    line-height: 1.5;
}
