.btn,
.btn:link,
.btn:active,
.btn:visited,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    position: relative;
    display: inline-block;
    width: auto;
    cursor: pointer;
    text-align: center;
    outline: none;
    padding: 11px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color__button-text;
    background: $color__button-bg;
    border: 1px solid $color__button-border;
    font-weight: $font__weight-semi-bold;
    @include font-size(1.7);
    @include fade;
    @include backface-visibility(hidden);
    &:focus,
    &:hover {
        color: $color__button-text-hover;
        background-color: $color__button-bg-hover;
        border-color: $color__button-border-hover;
        text-decoration: none !important;
    }
    &.btn-small {
        @include font-size(1.2);
        padding: 7px 14px;
    }
    &.btn-black-solid {
        background: rgba($color__dark-gray, 1);
        color: $color__off-white;
        border: 2px solid $color__dark-gray;
        &:focus,
        &:hover {
            background: rgba($color__dark-gray, .3);
        }
    }
    &.btn-black-ghost {
        background: none;
        color: $color__black;
        border: 2px solid $color__black;
        &:focus,
        &:hover {
            background: rgba(17, 17, 17, .8);
            border: 2px solid $color__black;
            color: $color__white;
        }
    }
}