.about {
    .hero {
        .avatar.about-avatar {
            display: block;
            border: none;
            margin: 10px auto 20px;
            width: 125px;
            &.fadeIn {
                @include fadeIn( $delay: .6s);
            }
        }
    }
}