.home .hero {
	height: 450px;
	h1.entry-title {
		@include font-size(4.0);
		line-height: 50px;
		font-weight: $font__weight-regular;
		letter-spacing: -0.05em;
	}
	h2.subtitle {
		@include font-size(1.6);
		line-height: 20px;
		font-weight: $font__weight-regular;
		letter-spacing: -0.02em;
		color: $color__accent;
		margin-top: 20px;
	}
	.overlay {
		@include opacity(.7);
	}
}
.dribbble-shots {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	flex-wrap: wrap;
	.shot {
		width: 20%;
		@include fadeIn(
			$duration: .9s,
			$delay: .4s
			);

	}
}