.navigation-wrap {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
	background: $color__background-header;
	height: 70px;
	padding: 0 5%;
	@include breakpoint(mobile){
		padding: 0 2%;
	}
}
.logo {
	display: inline-flex;
	align-items: center;
	@include flex-order(1);
	width: 64%;
	height: inherit;
	text-decoration: none;
	@include transition(all 0.2s);
	@include fade;
	&:hover,
	&:focus {
		color: $color__white;
		@include opacity(0.8);
		@include fade;
	}
	a {
		text-decoration: none;
	}
	img {
		width: 100%;
		max-width: 50px;
		vertical-align: middle;
	}
	span {
		@include font-size(1.6);
		color: $color__white;
		font-weight: $font__weight-bold;
		margin-left: 7px;
		vertical-align: middle;
		@include breakpoint(mobile) {
			display: none;
		}
	}
}
.main-nav {
	height: inherit;
	@include flex-order(2);
	@include flexbox;
	ul {
		@include clear-list-style;
		height: inherit;
		display: inline-flex;
		text-transform: uppercase;
		font-weight: $font__weight-regular;
		li {
			margin-left: 25px;
			padding-top: 25px;
			height: 100%;
			position: relative;
			@include breakpoint(smallmobile){
				margin-left: 0;
			}
		}
		li:first-child {
			margin-left: 0;
		}
		a:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			height: 0px;
			width: 100%;
			@include fade;
			background-color: $color__accent;
		}
		a:hover:before,
		a:focus:before {
			height: 4px;
			@include fade;
		}
		@include links {
			display: block;
			padding: 0 10px;
			text-decoration: none;
			color: $color__white;
			font-weight: $font__weight-semi-bold;
			@include font-size(1.3);
			@include transition(all 0.2s);
		}
		@include links-hover {
			color: $color__accent;
		}
		.current_page_item > a,
		.current-menu-item > a,
		.current-page-ancestor > a,
		.current-menu-ancestor > a {
			color: $color__accent;
			&:before {
				border-top: 4px solid $color__accent;
			}
		}
	}
}
.social-nav {
	@include flexbox;
	@include flex-order(3);
	@include clear-list-style;
	align-items: center;
	line-height: 0;
	height: inherit;
	li {
		display: inline-block;
		margin-left: 25px;
	}
	@include links {
		@include opacity(1.0);
		@include fade;
		color: $color__white;
	}
	@include links-hover {
		@include opacity(1.0);
		@include fade;
	}
	span {
		display: none;
	}
	.fa {
		@include font-size(1.5);
	}
	.fa-dribbble:hover,
	.fa-dribbble:focus {
		@include fade;
		color: rgba($color__brand-dribbble, 1);
	}
	.fa-github:hover,
	.fa-github:focus {
		@include fade;
		color: rgba($color__brand-github, 1);
	}
	.fa-linkedin:hover,
	.fa-linkedin:focus {
		@include fade;
		color: rgba($color__brand-linkedin, 1);
	}
	.fa-twitter:hover,
	.fa-twitter:focus {
		@include fade;
		color: rgba($color__brand-twitter, 1);
	}
	.fa-codepen:hover,
	.fa-codepen:focus {
		@include fade;
		color: rgba($color__brand-codepen, 1);
	}
	@include breakpoint(tablet){
		display: none;
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}